:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
}
.container h2{
  text-align: center;
  padding: 40px 0;
  font-size: 33px;
  color: #ffffffad;
  font-weight: 900;
}
.modals{
  width: 45%;
  margin: auto;
  background: #111827;
  padding: 5px 10px;
  border: 1px solid #a7089500;
  margin-bottom: 14px;
  border-radius: 7px;
  box-shadow: -2px -1px 6px #ddd;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.modal-info img{
  height: inherit;
}
.content{
  padding: 5px;
}
.modal-open{
  height: 100px;
  transition: 0.3s ease-in-out;
  /* overflow: auto; */
}
